fastapi
uvicorn
python-dotenv
psycopg2-binary
langchain-community
langchain-openai
langchain-chroma==0.0.12  # تأكدي من تثبيت إصدار متوافق
langchain
langchain-core
chromadb==0.4.15         # استبدلي chromadb-client بالحزمة الكاملة
azure-storage-blob
azure-cosmos
azure-identity
azure-keyvault-secrets
pypdf
python-multipart
cryptography==41.0.2
